# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Compiled files / builds
bin/
obj/
build/
dist/
out/
target/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.venv/
env/
venv/

# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
